[Unit]
Description=Despair Lair Blog (powered by Jekyll)

After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=pruebitas
Group=pruebitas
EnvironmentFile=/etc/environment
WorkingDirectory=~/Code/despair_lair_blog
ExecStart=/usr/local/bin/bundle exec jekyll serve --host=0.0.0.0 --port=4100

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
